*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #387478;
    --color-dark: #243642;
    --color-light: #eaeaea;
    --color-white: #fff;
    --color-card: #50727B;
    --color-preto: black;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   
}

/* header{
    background-color: var(--color-primary);
    padding: 20px;
    display: flex;
    justify-content: center;

}

nav ul{
    list-style: none;
    text-align: center;
}

nav li, a {
    display: inline;
    margin: 0 2rem;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
} */

/*  nav img {
    
    width: 200px;
    height: 7%;
    
} */

header {
    background-color: var(--color-primary);
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10rem;
}

nav li {
    display: inline;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    
}

.logoHeader {
    height: 180px;
}

/* section h1, h2, h3, img {
    text-align: center;
} */

#conteudoPrincipal{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 40px;
}

#conteudoPrincipal h1, h2, h3{
    margin: 1.5rem;
    text-align: center;
}

.guincho24{
    font-size: 50px;
    line-height: 50px;
}

.reboque {
    font-size: 40px;
    
}

.guinchoInfo{
    font-size: 30px;
}

.fotoTelefone {
    font-size: 25px;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: cover;
    margin-top: 1rem;
    margin-right: 0.5rem;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
    background-color: var(--color-light);
}

.cards-info{
    background-color: var(--color-card);
    border: 1px solid var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin: 2rem;
    padding: 4.5rem;
    transition: transform 0.2s;
}

.cards-info:hover {
    transform: translateY(-5px);
}

.cards-info img {
    max-width: 100px;
    margin-bottom: 15px;
}

.cards-info h2{
    color: var(--color-white);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.cards-info p{
    color: var(--color-white);
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
}


.sobreNos{
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 0;
    background-color: var(--color-dark);
}

.sobreNos img {
    width: 25%;
    height: 25%;
    margin: 1rem;
    padding: 1rem;
}

.sobreNos > p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
    color: var(--color-light);
    display: block;
    font-size: 1.4rem;
}

.sobreNos > h2  {
    color: var(--color-white);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}


/* Area de atuacao */


.photos {
    background-color: var(--color-light);
    /* margin: 1rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    text-align: center;
}

.photos h2 {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin: 2rem;
    padding: 20px;
    /* margin-bottom: 1rem; */
}

.cardGuincho {
    cursor: pointer;
    flex: 1 1 calc(33.33% - 32px);
    max-width: calc(33.33% - 32px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 250px;
}

.cardGuincho:hover {
    transform: scale(1.05);
}

.cardGuincho img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
}


#contatosFinal{
    margin: 0;
    padding: 20px;
    background-color: var(--color-card);
    color: var(--color-preto);
}

#contatosFinal h2 {
    color: var(--color-preto);
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

#contatosFinal > p{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    
}

#contatosFinal a {
    text-decoration: none;
    color: var(--color-preto);
}


address{
    margin: 1rem;
    text-align: center;
    font-size: x-large;
    
    
}

address > * {
    display: inline-block;
    margin: 1.5rem;
    text-align: left; 
} 

footer{
    background-color: var(--color-preto);
    color: var(--color-white);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}